@model GCS_CO.Models.Address

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId">
                    <option value="">-- Select an Employee --</option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <select asp-for="CityName" class ="form-control" asp-items="ViewBag.CityName">
                    <option value="">-- Select a City --</option>
                </select>
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAbbrev" class="control-label"></label>
                <select asp-for="StateAbbrev" class ="form-control" asp-items="ViewBag.StateAbbrev">
                    <option value="">-- Select a State --</option>
                </select>
                <span asp-validation-for="StateAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <select asp-for="PostalCode" class="form-control" asp-items="ViewBag.PostalCode">
                    <option value="">-- Select a PostalCode --</option>
                </select>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionAbbrev" class="control-label"></label>
                <select asp-for="RegionAbbrev" class="form-control" asp-items="ViewBag.RegionAbbrev">
                    <option value="">-- Select a Region --</option>
                </select>
                <span asp-validation-for="RegionAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class ="form-control" asp-items="ViewBag.Type">
                    <option value="">-- Select an AddressType --</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
