@{
    ViewBag.Title = "Admin Home";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>TODO: Create User dashboard</p>
    <a href="@Url.Action("Index", "Employees")">Employees</a>
    <a href="@Url.Action("Index", "AppUsers")">AppUsers</a>

</div>