@{
    ViewBag.Title = "Admin Home";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>TODO: Create User dashboard</p>
    <a href="@Url.Action("Index", "Employees")">Go to Employees</a>

</div>